
.bangladesh{
	width: 700px;
	height: 420px;
	background-color: #006747;
	position: relative;
}
.bangladesh::after{
	content: "";	
	width: 280px;
	height: 280px;
	top: 65px;
	left: 175px;
	position: absolute;
	border-radius: 80%;
	background-color: #da291c;
}